#project-overview{
  padding-left: 30px;
  background-color: #e2f2f7;
  float: left;
  width: 30%;
  height: 100vh;
}

#task-overview{
  padding-left: 50px;
  margin-left: 30%;
}

#completed-list {
  color: grey;
  text-decoration: line-through;

}

#box_one {
  background-color: green;
  width: 30px;
  height: 30px;
}

#box_two {
  background-color: red;
  width: 50px;
  height: 50px;
}

#box_two.dropped {
  background-color: blue;
}

.projects.dropped{
  background-color: yellow;
  color: white;
}

.projects{
  margin-top: 50px;
}

#projects li{
  margin-top: 20px;
}
