#project-overview{
  padding-left: 30px;
  background-color: #e2f2f7;
  float: left;
  width: 30%;
  height: 100vh;
}

#task-overview{
  padding-left: 50px;
  margin-left: 30%;
}

#completed-list {
  color: grey;
  text-decoration: line-through;

}
